<section class="landing-container">
  <div class="landing-photo" style="background-image: url(https://images.unsplash.com/photo-1537151608828-ea2b11777ee8?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=994)"></div>

  <div class="landing-text">
    <h1>The friendliest clinic in Cluj-Napoca has arrived</h1>

    <div class="paragraph">
      <p>We understood the owners' need for reliable and quality services but most importantly the animals' need for love and understanding
      </p>
      <p><b style="color: #e68049;">Best Friend Clinic</b> is the place that builds relationships while solving the problems of our
        beloved friends. We don't just offer good services, we strive to become a safe and happy place for everyone (furry or not).
      </p>
    </div>
  </div>
</section>
