<div class="container">
  <div class="row marg-20">
    <div class="col form-floating mb-3">
      <button type="button" class="btn btn-primary custom-button" (click)="openModalForAdd()">Add Article</button>
    </div>
    <div class="col form-floating mb-3">
      <textarea class="form-control" placeholder="Author" [(ngModel)]="journalNameInput" id="inputJournalName" required
                (input)="getUserArticlesByJournalName()"></textarea>
      <label for="inputJournalName">See Articles of Journal</label>
    </div>
  </div>
  <div class="row marg-20">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Journal ID</th>
          <th scope="col">Summary</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of articles">
          <th scope="row">{{article.id}}</th>
          <td>{{article.journalId}}</td>
          <td>{{article.summary}}</td>
          <td>{{article.date}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
