* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Acari Sans";
}

body {
    background: #f4f6fb;
}

.custom-button {
    background: #0101fc;

    font-size: 20pt;
    font-weight: bold;
    color: #f4f6fb;

    border: #0101fc;
    border-radius: 12px;
}

.custom-button:hover {
    background: #0101fc;
    border: #0101fc;
}

.custom-button2 {
    background: #99a5f9;

    font-size: 20pt;
    font-weight: bold;
    color: #f4f6fb;

    border: #99a5f9;
    border-radius: 12px;
}

.custom-button2:hover {
    background: #0101fc;
    border: #0101fc;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.full-with-button {
    flex: 1;
}

.marg-20 {
    margin-bottom: 40px;
}