.landing-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 50px;

    padding: 0 30px 0 30px;
}

.landing-photo {
    flex: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}

.landing-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.landing-text h1 {
    font-size: 30pt;
    color: #0101fc;
}

.landing-text p {
    font-size: 20pt;
    color: #99a5f9;
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px;
}