* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: scroll;
}

h1 {font-family: Futura;}
p {font-family: Courier;}

header {
    color: #fff;
    background-color: #000000;
    padding: 30px 50px;

    position: fixed;
    width: 100%;
    text-align: center;
}

.window {
    /*background-color: darkolivegreen;*/
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 1200px;
    width: 100%;
}

.content {
    flex: 1;
    display: flex;
    gap: 30px;
}

.text-content {
    flex-direction: column;
}

.photo {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 800px;
}