<section class="landing-container">
  <div class="landing-photo" style="background-image: url(https://i.pinimg.com/564x/49/2d/a8/492da810c587796c569be4bf4d2f046e.jpg)"></div>

  <div class="landing-text">
    <h1>The best tool for managing your documents</h1>

    <div class="paragraph">
      <p>From the being able to add new files, to filter all your documents based on your preferences,
        <b>Easy Manager</b> has you covered.
      </p>
      <p>Offering top of the line services regarding file management, we strive
        to always better ourselves and offer our clients the best user experience we can deliver.
      </p>
    </div>

    <div class="button-container">
      <a class="btn btn-primary custom-button full-with-button" routerLink="document-manager" role="button" (click)="goToDocumentManager()">Manage Your Documents</a>
    </div>
  </div>
</section>